
.event-details {
  display: none;
}
.event-item{
  background: linear-gradient(217deg, rgba(111, 106, 106, 0.032), rgba(160, 160, 165, 0.158) 70.71%),
  linear-gradient(127deg, rgba(164, 168, 168, 0.07), rgba(95, 102, 95, 0.053) 70.71%),
  linear-gradient(336deg, rgba(202, 195, 201, 0.234), rgba(141, 141, 153, 0.032) 70.71%);
  box-shadow: 0 0 6px #82767323;
}


.visible {
  display: block;
}